
body{
  background-image: url(WhatsApp\ Image\ 2023-09-06\ at\ 14.21.14.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

/*---------------------------------------------Botão------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

  
  .container {
    width: 400px;
    height: 400px;
    margin-left: 240px;
    margin-top: -150px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 30px;
    background-color: #7070709d;
  } 

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 30px;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #2389ee;    
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
    border-radius: 10px;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
    border-radius: 10px;
  }


/*---------------------------------------------Botão------------------------------------------------*/




/*---------------------------------------------Box1------------------------------------------------*/

.box{
    width: 560px;
    height: 160px;
    background-color: #027794;
    margin-left: -10px;
    margin-top: 300px;
    padding: 20px;
    border: solid 1px rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
    display: flex;
  }

/*---------------------------------------------Box1------------------------------------------------*/



/*---------------------------------------------TEXTO------------------------------------------------*/

  h2{
    color: white;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  h3{
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  h4{
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
    margin-left: 30px;
  }

  p{
    color: rgb(189, 189, 189);
    text-align: left;
    margin-bottom: 5px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .text1{
    margin-top: 30px;
  }
  
  .text2{
    margin-top: 50px;
  }
  .consultoria{
    margin-top: 60px;
  }

  .precos{
    text-align: center;
    margin-right: -150px;
    margin-top: 50px;
  }


  /*---------------------------------------------TEXTO------------------------------------------------*/


  /*---------------------------------------------Box2------------------------------------------------*/


  .box2{
    width: 560px;
    height: 1150px;
    background-color: #252525;
    margin-left: -10px;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }


  img{
    border-radius: 15px;
  }

/*---------------------------------------------Box2------------------------------------------------*/




/*---------------------------------------------Box3------------------------------------------------*/

.box3{
    width: 560px;
    height: 700px;
    background-color: #027794;
    margin-left: -10px;
    margin-top: 100px;
    padding: 20px;
    border: solid 1px rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
  }

  .resultados{
    border-bottom: solid 1px white;
  }

/*---------------------------------------------Box3------------------------------------------------*/

/*---------------------------------------------Box4------------------------------------------------*/

.box4{
    width: 560px;
    height: 300px;
    background-color: #252525;
    margin-left: -10px;
    margin-top: 120px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
  }

  .wrapper{
    margin-top: 110px;
  }

.face{
  width: 26px;  
  margin-top: 15px;
  margin-left: -130px;
}

.insta{
  width: 27px; 
  margin-left: 15px; 
}

.yout{
  width: 28px;
  margin-left: 15px; 

}



/*---------------------------------------------Box4------------------------------------------------*/


/*---------------------------------------------Box5------------------------------------------------*/

.box5{
    width: 560px;
    height: 100px;
    background-color: #027794;
    margin-left: -10px;
    margin-top: -5px;
    margin-bottom: 60px;
    padding: 20px;
    border: solid 1px rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
    display: flex;

  }


  .caixa{

    width: auto;
    height: 460px;
    background-color: #027794;
    margin: 4rem, auto,0,auto;
    margin-left: 5px;
    margin-top: 50px;
    display: flex;
    overflow-x: auto;
    border-radius: 25px;

  }

  img{
    width: 270px;
  }

  .img2{
    width: 350px;
    height: 280px;
    margin: 40px;
    margin-right: 200px;
    scale: 1.05;
  }

  .imgg{
    width: 500px;
    height: 380px;
  }

/*---------------------------------------------Box5------------------------------------------------*/



.boxPrecos1{
    width: 150px;
    height: 100px;
    padding: 20px;
    margin-top: -170px;
    border-radius: 15px;
    scale: 1.54;
    margin-left: -30px;

}

.boxPrecos2{
  width: 150px;
  height: 100px;
  margin-left: 215px;
  margin-right: -500px;
  margin-top: -90px;
  padding: 20px;
  border-radius: 15px;
  scale: 1.23;

}

.boxPrecos3{
  width: 150px;
  height: 135px;
  padding: 20px;
  border-radius: 15px;
  margin-left: 75px;
  margin-top: 100px;
  margin-bottom: 530px;
  scale: 1.60;

}



/*---------------------------------------------BARRA DE ROLAGEM--------------------------------------------------------------*/

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: linear-gradient(#003c4b,#027794);
  border: 2px solid #252525;
}

::-webkit-scrollbar-thumb:hover{
  border-color: rgb(88, 88, 88);
}

/*---------------------------------------------BARRA DE ROLAGEM-------------------------------------------------------------*/


.planoss{
  width: 560px;
  height: 80px;
  background-color: #027794;
  margin-left: -10px;
  margin-top: 100px;
  padding: 20px;
  border: solid 1px rgb(255, 255, 255);
  box-sizing: border-box;
  text-align: center;
}





@media (min-width: 650px){

    body{
      overflow-x: hidden;
    }
 
  
    .btn{
      margin-left: 550px;
    }
  
  
  
    .box{
      width: 1600px;
      height: 160px;
      background-color: #027794;
      margin-left: -10px;
      margin-top: 300px;
      padding: 20px;
      border: solid 1px rgb(255, 255, 255);
      box-sizing: border-box;
      text-align: center;
    }
  
    
    .box2{
      width: 1600px;
      height: 1300px;
      background-color: #252525;
      margin-left: -10px;
      margin-top: 100px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }
  
    .box3{
      width: 1600px;
      height: 700px;
      background-color: #027794;
      margin-left: -10px;
      margin-top: 100px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }
  
    .box4{
      width: 1600px;
      height: 300px;
      background-color: #252525;
      margin-left: -10px;
      margin-top: 60px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }
  
    .box5{
      width: 1600px;
      height: 100px;
      background-color: #027794;
      margin-left: -10px;
      margin-bottom: 60px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }
  
/*------------------------------------------BOX DESKTOP-----------------------------------------------------------*/
  

  
    h2{
      margin-bottom: 50px;
      
    }
  
    h3{
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    h4{
      margin-right: 550px;
      margin-left: 550px;
    }
  
    P{
    margin-left: 550px;
    margin-right: 550px;
    }


    .text1{
      margin-left: 500px;
    }

    svg{
      margin-left: 550px;
    }

/*---------------------------------------------------------------------------------------------------------------------------*/

    .planoss{
      width: 1600px;
    }

    .boxPrecos1{
      scale: 3.00;
      margin-top: -250px;
      margin-left: 150px;
    }

    .boxPrecos2{
      scale: 2.55;
      margin-top: -75px;
      margin-left: 900px;
    }

    .boxPrecos3{
      scale: 2.50;
      margin-top: 350px;
      margin-left: 545px;
      margin-bottom: 900px;
    }

  /*---------------------------------------------------------------------------------------------------------------------------*/

  }



